{% macro Toggle(option_name, option) %}
    <div class="weighted-options-group">
        {{ RangeRow(option_name, option, "Yes", "true", False, "true" if option.default else "false") }}
        {{ RangeRow(option_name, option, "No", "false", False, "true" if option.default else "false") }}
        {{ RandomRow(option_name, option) }}
    </div>
{% endmacro %}

{% macro DefaultOnToggle(option_name, option) %}
    <!-- Toggle handles defaults properly, so we just reuse that -->
    {{ Toggle(option_name, option) }}
{% endmacro %}

{% macro Choice(option_name, option) %}
    <div class="weighted-options-group">
        {% for id, name in option.name_lookup.items() %}
            {% if name != "random" %}
                {% if option.default != "random" %}
                    {{ RangeRow(option_name, option, option.get_option_name(id), name, False, name if option.default == id else None) }}
                {% else %}
                    {{ RangeRow(option_name, option, option.get_option_name(id), name) }}
                {% endif %}
            {% endif %}
        {% endfor %}
        {{ RandomRow(option_name, option) }}
    </div>
{% endmacro %}

{% macro Range(option_name, option) %}
    <div class="hint-text js-required">
        This range option accepts any value between: <strong>{{ option.range_start }} - {{ option.range_end }}</strong>
    </div>
    <div class="add-option-div js-required">
        <input type="number" class="range-option-value" data-option="{{ option_name }}">
        <button type="button" class="add-range-option-button" data-option="{{ option_name }}">Add</button>
    </div>
    <div class="weighted-options-group deletable">
            {% if option.special_range_names %}
                {# Ignore named ranges. #}
                {% if option.range_start not in option.special_range_names.values() %}
                    {{ RangeRow(option_name, option, option.range_start, option.range_start, True) }}
                {% endif %}
                {% if option.default not in option.special_range_names.values() %}
                    {% if option.range_start < option.default < option.range_end %}
                        {{ RangeRow(option_name, option, option.default, option.default, True) }}
                    {% endif %}
                {% endif %}
                {% if option.range_end not in option.special_range_names.values() %}
                    {{ RangeRow(option_name, option, option.range_end, option.range_end, True) }}
                {% endif %}
            {% else %}
                {{ RangeRow(option_name, option, option.range_start, option.range_start, True) }}
                {% if option.range_start < option.default < option.range_end %}
                    {{ RangeRow(option_name, option, option.default, option.default, True) }}
                {% endif %}
                {{ RangeRow(option_name, option, option.range_end, option.range_end, True) }}
            {% endif %}

            {% if option.special_range_names %}
                {% for name, value in option.special_range_names.items()|sort(attribute="1") %}
                    {% set option_title = option.get_option_name(name)|replace("_", " ")|title ~ " (" ~ value ~ ")" %}
                    {{ RangeRow(option_name, option, option_title, value) }}
                {% endfor %}
            {% endif %}

            {{ RandomRows(option_name, option) }}
    </div>
{% endmacro %}

{% macro NamedRange(option_name, option) %}
    <!-- Range is able to properly handle NamedDRange options -->
    {{ Range(option_name, option) }}
{% endmacro %}

{% macro FreeText(option_name, option) %}
    <div class="hint-text">
        This option allows custom values only. Please enter your desired values below.
    </div>
    <div class="custom-value-wrapper">
        <input class="custom-value" data-option="{{ option_name }}" placeholder="Custom Value">
        <button type="button" data-option="{{ option_name }}">Add</button>
    </div>
    <div class="weighted-options-group">
        {% if option.default %}
            {{ RangeRow(option_name, option, option.default, option.default) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro TextChoice(option_name, option) %}
    <div class="hint-text">
        Custom values are also allowed for this option. To create one, enter it into the input box below.
    </div>
    <div class="custom-value-wrapper">
        <input class="custom-value" data-option="{{ option_name }}" placeholder="Custom Value">
        <button type="button" data-option="{{ option_name }}">Add</button>
    </div>
    {{ Choice(option_name, option) }}
{% endmacro %}

{% macro PlandoBosses(option_name, option) %}
    <!-- PlandoBosses is handled by its parent, TextChoice -->
    {{ TextChoice(option_name, option) }}
{% endmacro %}

{% macro ItemDict(option_name, option, world) %}
    <div class="option-list">
        {% for item_name in (option.valid_keys|sort if (option.valid_keys|length > 0) else world.item_names|sort) %}
            <div class="option-entry">
                <label for="{{ option_name }}-{{ item_name }}-qty">{{ item_name }}</label>
                <input
                    type="number"
                    id="{{ option_name }}-{{ item_name }}-qty"
                    name="{{ option_name }}||{{ item_name }}"
                    value="{{ option.default[item_name] if item_name in option.default else "0" }}"
                >
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro OptionList(option_name, option) %}
    <div class="option-list">
        {% for key in (option.valid_keys if option.valid_keys is ordered else option.valid_keys|sort) %}
            <div class="option-entry">
                <input
                    type="checkbox"
                    id="{{ option_name }}-{{ key }}"
                    name="{{ option_name }}||{{ key }}"
                    value="1"
                    checked="{{ "checked" if key in option.default else "" }}"
                >
                <label for="{{ option_name }}-{{ key }}">
                    {{ key }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro LocationSet(option_name, option, world) %}
    <div class="option-list">
        {% for group_name in world.location_name_groups.keys()|sort %}
            {% if group_name != "Everywhere" %}
                <div class="option-entry">
                    <input type="checkbox" id="{{ option_name }}-{{ group_name }}" name="{{ option_name }}||{{ group_name }}" value="1" {{ "checked" if group_name in option.default }}>
                    <label for="{{ option_name }}-{{ group_name }}">{{ group_name }}</label>
                </div>
            {% endif %}
        {% endfor %}
        {% if world.location_name_groups.keys()|length > 1 %}
            <div class="option-divider">&nbsp;</div>
        {% endif %}
        {% for location_name in (option.valid_keys|sort if (option.valid_keys|length > 0) else world.location_names|sort) %}
            <div class="option-entry">
                <input type="checkbox" id="{{ option_name }}-{{ location_name }}" name="{{ option_name }}||{{ location_name }}" value="1" {{ "checked" if location_name in option.default }}>
                <label for="{{ option_name }}-{{ location_name }}">{{ location_name }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro ItemSet(option_name, option, world) %}
    <div class="option-list">
        {% for group_name in world.item_name_groups.keys()|sort %}
            {% if group_name != "Everything" %}
                <div class="option-entry">
                    <input type="checkbox" id="{{ option_name }}-{{ group_name }}" name="{{ option_name }}||{{ group_name }}" value="1" {{ "checked" if group_name in option.default }}>
                    <label for="{{ option_name }}-{{ group_name }}">{{ group_name }}</label>
                </div>
            {% endif %}
        {% endfor %}
        {% if world.item_name_groups.keys()|length > 1 %}
            <div class="option-divider">&nbsp;</div>
        {% endif %}
        {% for item_name in (option.valid_keys|sort if (option.valid_keys|length > 0) else world.item_names|sort) %}
            <div class="option-entry">
                <input type="checkbox" id="{{ option_name }}-{{ item_name }}" name="{{ option_name }}||{{ item_name }}" value="1" {{ "checked" if item_name in option.default }}>
                <label for="{{ option_name }}-{{ item_name }}">{{ item_name }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro OptionSet(option_name, option) %}
    <div class="option-list">
        {% for key in (option.valid_keys if option.valid_keys is ordered else option.valid_keys|sort) %}
            <div class="option-entry">
                <input type="checkbox" id="{{ option_name }}-{{ key }}" name="{{ option_name }}||{{ key }}" value="1" {{ "checked" if key in option.default }}>
                <label for="{{ option_name }}-{{ key }}">{{ key }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro RandomRow(option_name, option, extra_column=False) %}
    {{ RangeRow(option_name, option, "Random", "random", help_text="Chooses a random value from any of the possible options.") }}
{% endmacro %}

{% macro RandomRows(option_name, option, extra_column=False) %}
    {{ RangeRow(option_name, option, "Random", "random", help_text="Chooses a random value between the minimum and maximum value.") }}
    {{ RangeRow(option_name, option, "Random (Low)", "random-low", help_text="Chooses a random value between the minimum and maximum value, with a larger bias towards the lower values.") }}
    {{ RangeRow(option_name, option, "Random (Middle)", "random-middle", help_text="Chooses a random value between the minimum and maximum value, with a larger bias towards the middle values.") }}
    {{ RangeRow(option_name, option, "Random (High)", "random-high", help_text="Chooses a random value between the minimum and maximum value, with a larger bias towards the higher values.") }}
{% endmacro %}

{% macro RangeRow(option_name, option, display_value, value, can_delete=False, default_override=None, help_text=None) %}
    <div
        class="weighted-options-row"
        data-row="{{ option_name }}-{{ value }}-row"
        data-option-name="{{ option_name }}"
        data-value="{{ value }}"
    >
        <label for="{{ option_name }}||{{ value }}">
            {{ display_value }}:
            {% if help_text %}
                <span
                    class="interactive"
                    data-tooltip="{{ help_text }}"
                >
                    (?)
                </span>
            {% endif %}
        </label>
        <div class="range-container">
            <input
                type="range"
                id="{{ option_name }}||{{ value }}"
                name="{{ option_name }}||{{ value }}"
                min="0"
                max="50"
                {% if option.default == value or default_override == value %}
                    value="25"
                {% else %}
                    value="0"
                {% endif %}
            >
            <span id="{{ option_name }}||{{ value }}-value">
                {% if option.default == value or default_override == value %}
                    25
                {% else %}
                    0
                {% endif %}
            </span>
        </div>
        {% if can_delete %}
            <div class="range-option-delete js-required" data-target="{{ option_name }}-{{ value }}-row" title="Delete">
                ❌
            </div>
        {% else %}
            <div>{# This is empty on purpose. #}</div>
        {% endif %}
    </div>
{% endmacro %}
