{% macro Toggle(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-inputs">
            <select
                id="{{ option_name }}"
                name="{{ option_name }}"
            >
                {% if option.default %}
                    <option value="false">No</option>
                    <option value="true" selected>Yes</option>
                {% else %}
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                {% endif %}
            </select>
            {{ RandomizeButton(option_name, option) }}
        </div>
    </div>
{% endmacro %}

{% macro Choice(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-inputs">
            <select
                id="{{ option_name }}"
                name="{{ option_name }}"
            >
                {% for id, name in option.name_lookup.items() %}
                    {% if name != "random" %}
                        {% if option.default == id %}
                            <option value="{{ name }}" selected>{{ option.get_option_name(id) }}</option>
                        {% else %}
                            <option value="{{ name }}">{{ option.get_option_name(id) }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
            {{ RandomizeButton(option_name, option) }}
        </div>
    </div>
{% endmacro %}

{% macro Range(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-inputs">
            <input
                type="range"
                class="js-required"
                id="{{ option_name }}-range"
                min="{{ option.range_start }}"
                max="{{ option.range_end }}"
                value="{{ option.default | default(option.range_start) if option.default != "random" else option.range_start }}"
            >
            <input
                type="number"
                id="{{ option_name }}"
                name="{{ option_name }}"
                value="{{ option.default | default(option.range_start) if option.default != "random" else option.range_start }}"
                min="{{ option.range_start }}"
                max="{{ option.range_end }}"
                placeholder="{{ option.range_start }} - {{ option.range_end }}"
                data-option-type="range"
                required
            >
            {{ RandomizeButton(option_name, option) }}
        </div>
    </div>
{% endmacro %}

{% macro NamedRange(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs js-required">
                <select id="{{ option_name }}-select">
                    {% set default_in_special_names = False %}
                    {% for key, value in option.special_range_names.items() %}
                        {% if option.default == value %}
                            {% set default_in_special_names = True %}
                            <option value="{{ value }}" selected>{{ key | replace("_", " ") | title }} ({{ value }})</option>
                        {% else %}
                            <option value="{{ value }}">{{ key | replace("_", " ") | title }} ({{ value }})</option>
                        {% endif %}
                    {% endfor %}

                    <option value="custom" hidden {{ "selected" if not default_in_special_names }}>Custom</option>
                </select>
            </div>
            <div class="option-inputs">
                <input
                    type="range"
                    id="{{ option_name }}-range"
                    class="js-required"
                    min="{{ option.range_start }}"
                    max="{{ option.range_end }}"
                    value="{{ option.default | default(option.range_start) if option.default != "random" else option.range_start }}"
                >
                <input
                    type="number"
                    id="{{ option_name }}"
                    name="{{ option_name }}"
                    value="{{ option.default | default(option.range_start) if option.default != "random" else option.range_start }}"
                    placeholder="{{ option.range_start }} - {{ option.range_end }}{{ special_values }}"
                    data-option-type="named-range"
                    required
                >
                {{ RandomizeButton(option_name, option) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro FreeText(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-inputs">
            <input
                type="text"
                id="{{ option_name }}"
                name="{{ option_name }}"
                value="{{ option.default }}"
            >
        </div>
    </div>
{% endmacro %}

{% macro TextChoice(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs">
                <select
                    id="{{ option_name }}"
                    name="{{ option_name }}"
                    class="option"
                    data-default="{{ option.get_option_name(option.default) if option.default != "random" else "random" }}"
                >
                {% for id, name in option.name_lookup.items() | sort %}
                    {% if name != "random" %}
                        {% if option.default == id %}
                            <option value="{{ name }}" selected>{{ option.get_option_name(id) }}</option>
                        {% else %}
                            <option value="{{ name }}">{{ option.get_option_name(id) }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                    <option value="custom" hidden>Custom</option>
            </select>
            {{ RandomizeButton(option_name, option) }}
            </div>
            <div class="option-inputs">
                <input
                    type="text"
                    id="{{ option_name }}-custom"
                    name="{{ option_name }}-custom"
                    placeholder="Custom value..."
                    data-option-name="{{ option_name }}"
                    data-option-type="text-choice"
                >
            </div>
        </div>
    </div>
{% endmacro %}

{% macro ItemDict(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs js-required">
                <input
                    type="text"
                    id="{{ option_name }}-search"
                    placeholder="Search {{ option.display_name | default(option_name) }}..."
                >
            </div>
            {% if not preload and (
                (option.valid_keys | length > 0) and is_large_list(option.valid_keys, 100) or
                (option.valid_keys | length == 0) and is_large_list(world.item_names, 100))
            %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list">
                    {{ NoJSFullLoadDisclaimer() }}
                </div>
            {% else %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list" data-preloaded="true">
                    {% for item_name in (option.valid_keys | sort if (option.valid_keys | length > 0) else world.item_names | sort) %}
                        <div class="option-entry">
                            <label for="{{ option_name }}-{{ item_name }}-qty">{{ item_name }}</label>
                            <input
                                type="number"
                                id="{{ option_name }}-{{ item_name }}-qty"
                                name="{{ option_name }}||{{ item_name }}||qty"
                                placeholder="{{ option.default[item_name]|default("0") }}"
                                data-option-name="{{ option_name }}"
                                data-item-name="{{ item_name }}"
                            >
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro OptionList(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs js-required">
                <input
                    type="text"
                    id="{{ option_name }}-search"
                    placeholder="Search {{ option.display_name | default(option_name) }}..."
                >
            </div>
            {% if not preload and is_large_list(option.valid_keys, 100) %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list">
                    {{ NoJSFullLoadDisclaimer() }}
                </div>
            {% else %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list" data-preloaded="true">
                    {% for key in (option.valid_keys if option.valid_keys is ordered else option.valid_keys | sort) %}
                        <div class="option-entry">
                            <input
                                type="checkbox"
                                id="{{ option_name }}-{{ key }}"
                                name="{{ option_name }}"
                                value="{{ key }}"
                                {{ "checked" if key in option.default }}
                            >
                            <label for="{{ option_name }}-{{ key }}">{{ key }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro LocationSet(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs js-required">
                <input
                    type="text"
                    id="{{ option_name }}-search"
                    placeholder="Search {{ option.display_name | default(option_name) }}..."
                >
            </div>
            {% if not preload and (
                (option.valid_keys | length > 0) and is_large_list(option.valid_keys, 100) or
                (option.valid_keys | length == 0) and is_large_list(world.location_names, 100))
            %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list">
                    {{ NoJSFullLoadDisclaimer() }}
                </div>
            {% else %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list" data-preloaded="true">
                    {% for location_name in (option.valid_keys | sort if (option.valid_keys | length > 0) else world.location_names | sort) %}
                        <div class="option-entry">
                            <input
                                type="checkbox"
                                id="{{ option_name }}-{{ location_name }}"
                                name="{{ option_name }}"
                                value="{{ location_name }}"
                                {{ "checked" if location_name in option.default }}
                            >
                            <label for="{{ option_name }}-{{ location_name }}">{{ location_name }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro ItemSet(option_name, option) %}
    <div class="option-container">
        {{ OptionTitle(option_name, option) }}
        <div class="option-subcontainer">
            <div class="option-inputs js-required">
                <input
                    type="text"
                    id="{{ option_name }}-search"
                    placeholder="Search {{ option.display_name | default(option_name) }}..."
                >
            </div>
            {% if not preload and (
                (option.valid_keys | length > 0) and is_large_list(option.valid_keys, 100) or
                (option.valid_keys | length == 0) and is_large_list(world.item_names, 100))
            %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list">
                    {{ NoJSFullLoadDisclaimer() }}
                </div>
            {% else %}
                <div class="option-list" id="{{ option_name }}-container" data-keys-type="list" data-preloaded="true">
                    {% for item_name in (option.valid_keys | sort if (option.valid_keys | length > 0) else world.item_names | sort) %}
                        <div class="option-entry">
                            <input
                                type="checkbox"
                                id="{{ option_name }}-{{ item_name }}"
                                name="{{ option_name }}"
                                value="{{ item_name }}"
                                {{ "checked" if item_name in option.default }}
                            >
                            <label for="{{ option_name }}-{{ item_name }}">{{ item_name }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro OptionSet(option_name, option) %}
    {# Use same logic as OptionList #}
    {{ OptionList(option_name, option) }}
{% endmacro %}

{% macro OptionTitle(option_name, option) %}
    <label for="{{ option_name }}">
        {{ option.display_name | default(option_name) }}<span class="nobr">: <span
            class="interactive tooltip-container"
            {% if not (option.rich_text_doc | default(world.web.rich_text_options_doc, true)) %}
              data-tooltip="{{ (option.__doc__ | default("Please document me!")) | replace("\n    ", "\n") | escape | trim }}"
            {% endif %}
        >
            (?)
            {% if option.rich_text_doc | default(world.web.rich_text_options_doc, true) %}
                <div class="tooltip">
                    {{ option.__doc__ | default("**Please document me!**") | rst_to_html | safe }}
                </div>
            {% endif %}
        </span></span>
    </label>
{% endmacro %}

{% macro RandomizeButton(option_name, option) %}
    <div class="randomize-button" data-tooltip="Choose a random value for this option!">
        <label for="random-{{ option_name }}">
            <input
                type="checkbox"
                id="random-{{ option_name }}"
                name="random-{{ option_name }}"
                class="randomize-checkbox"
                data-option-name="{{ option_name }}"
                {{ "checked" if option.default == "random" }}
            >
            🎲
        </label>
    </div>
{% endmacro %}

{% macro NoJSFullLoadDisclaimer() %}
    <noscript>
        <div class="js-disclaimer">
            This list contains a large amount of possible values that cannot be loaded without causing performance
            issues in some browsers. If you wish to load it anyway, please click <a href="?preload-all=True">here</a>.
        </div>
    </noscript>
{% endmacro %}
