@import "../markdown.css";
html {
  background-image: url("../../static/backgrounds/grass.png");
  background-repeat: repeat;
  background-size: 650px 650px;
  overflow-x: hidden;
}

.nobr {
  white-space: nowrap;
}
.nobr .tooltip {
  white-space: normal;
}

#player-options {
  max-width: 1024px;
  border-radius: 0;
  box-sizing: border-box;
  word-break: break-word;
  color: #eeffeb;
  font-size: 1.25rem;
}
#player-options * {
  box-sizing: border-box;
}
#player-options #options-header {
  margin-bottom: 1.5rem;
}
#player-options #options-header h1 {
  font-size: 3.75rem;
  line-height: 3rem;
  font-weight: normal;
  text-shadow: 1px 1px 4px black;
  margin: 0;
}
#player-options #options-header h2 {
  font-family: LondrinaSolid-Regular, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}
#player-options #options-header p, #player-options #options-header ul {
  margin: 1rem 0;
  text-align: justify;
}
#player-options #options-meta, #player-options .options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
#player-options .group-container {
  margin: 0;
  padding: 0;
}
#player-options .group-container summary {
  font-size: 3rem;
  cursor: pointer;
  color: var(--accent-color);
  text-shadow: 1px 1px 2px #000000;
  padding-bottom: 1rem;
}
#player-options .group-container h3 {
  display: inline;
  margin: 0;
  width: 100%;
  font-family: LondrinaSolid-Light, sans-serif;
  font-weight: normal;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--accent-color);
}
#player-options .option-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
  width: 100%;
  break-inside: avoid;
  backface-visibility: hidden;
  margin-bottom: 0.5rem;
}
#player-options .option-container label {
  min-height: 32px;
  line-height: 28px;
  margin-right: 24px;
}
#player-options .option-container .option-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#player-options .option-container .option-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#player-options .option-container .option-inputs input, #player-options .option-container .option-inputs select {
  border: 1px solid var(--accent-color-muted);
  border-radius: 3px;
  background-color: white;
  height: 32px;
  padding: 3px 8px;
  font-size: 1rem;
  flex-grow: 1;
  min-width: 0;
  width: 0;
}
#player-options .option-container .option-inputs select {
  text-overflow: ellipsis;
}
#player-options .option-container .option-inputs input[disabled], #player-options .option-container .option-inputs select[disabled] {
  background-color: rgb(211, 211, 211);
}
#player-options .option-container .option-inputs input[type=number], #player-options .option-container .option-inputs input[type=text] {
  flex-grow: 2;
}
#player-options .option-container .option-inputs input[type=range] {
  flex-grow: 5;
  margin: 0;
  padding: 0;
  border: 0;
}
#player-options .option-container .option-inputs .randomize-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
  width: 32px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid var(--accent-color-muted);
  border-radius: 3px;
  background-color: #d3d3d3;
  user-select: none;
}
#player-options .option-container .option-inputs .randomize-button:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}
#player-options .option-container .option-inputs .randomize-button label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  width: 100%;
  height: 100%;
}
#player-options .option-container .option-inputs .randomize-button label:hover {
  cursor: pointer;
}
#player-options .option-container .option-inputs .randomize-button input[type=checkbox] {
  display: none;
}
#player-options .option-container .option-inputs .randomize-button:has(input[type=checkbox]:checked) {
  background-color: #ffef00; /* Same as .interactive in globalStyles.css */
}
#player-options .option-container .option-inputs .randomize-button:has(input[type=checkbox]:checked):hover {
  background-color: #eedd27;
}
#player-options .option-container .option-inputs .randomize-button[data-tooltip]::after {
  left: unset;
  right: 0;
}
#player-options .option-container .option-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid var(--accent-color-muted);
  border-radius: 3px;
  color: #ffffff;
  min-height: 10rem;
  height: 10rem;
  min-width: 14.5rem;
  overflow-y: auto;
  resize: vertical;
}
#player-options .option-container .option-list .loading {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  align-self: center;
}
#player-options .option-container .option-list .option-divider {
  width: 100%;
  height: 2px;
  background-color: var(--accent-color-muted);
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
#player-options .option-container .option-list .option-entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  user-select: none;
  padding: 0.125rem 0.25rem;
}
#player-options .option-container .option-list .option-entry:hover {
  background-color: var(--accent-color-muted);
}
#player-options .option-container .option-list .option-entry input[type=checkbox] {
  margin-right: 0.25rem;
  height: 20px;
}
#player-options .option-container .option-list .option-entry input[type=number] {
  max-width: 2rem;
  margin-left: 0.125rem;
  text-align: center;
  /* Hide arrows on input[type=number] fields */
  -moz-appearance: textfield;
}
#player-options .option-container .option-list .option-entry input[type=number]::-webkit-outer-spin-button, #player-options .option-container .option-list .option-entry input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#player-options .option-container .option-list .option-entry label {
  flex-grow: 1;
  margin-left: 0.25rem;
  min-height: 20px;
}
#player-options #options-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

@media all and (min-width: 600px) {
  #player-options #options-meta, #player-options .options {
    grid-gap: 0.5rem 1rem;
  }
  #player-options .option-container {
    grid-template-columns: 4fr minmax(200px, 5fr);
  }
}
@media all and (min-width: 1024px) {
  #player-options {
    border-radius: 8px;
    font-size: 14px;
  }
  #player-options #options-header h1 {
    font-size: 3rem;
    line-height: 2.25rem;
  }
  #player-options #options-header h2 {
    font-size: 1.5rem;
  }
  #player-options #options-header p, #player-options #options-header ul {
    font-size: 16px;
  }
  #player-options #options-meta, #player-options .options {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem 1.5rem;
    column-count: 2;
  }
  #player-options .group-container summary, #player-options .group-container h3 {
    font-size: 2rem;
  }
  #player-options .option-container label {
    min-height: 24px;
    line-height: 20px;
  }
  #player-options .option-container .option-inputs input, #player-options .option-container .option-inputs select {
    height: 24px;
    padding: 3px 4px;
    font-size: 12px;
  }
  #player-options .option-container .option-inputs .randomize-button {
    height: 24px;
    width: 24px;
  }
}

/*# sourceMappingURL=player.css.map */
