@import "../markdown.css";

html {
    background-image: url("../../static/backgrounds/grass.png");
    background-repeat: repeat;
    background-size: 650px 650px;
    overflow-x: hidden;
}

.nobr {
    white-space: nowrap;

    .tooltip {
        white-space: normal;
    }
}

#player-options {
    max-width: 1024px;
    border-radius: 0;
    box-sizing: border-box;
    word-break: break-word;
    color: #eeffeb;
    font-size: 1.25rem;

    * {
        box-sizing: border-box;
    }

    #options-header {
        margin-bottom: 1.5rem;

        h1 {
            font-size: 3.75rem;
            line-height: 3rem;
            font-weight: normal;
            text-shadow: 1px 1px 4px black;
            margin: 0;
        }

        h2 {
            font-family: LondrinaSolid-Regular, sans-serif;
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0;
        }

        p, ul {
            margin: 1rem 0;
            text-align: justify;
        }
    }

    #options-meta, .options {
        //display: grid;
        //grid-template-columns: 1fr;
        //grid-gap: 1.5rem;
        column-count: 1;
        column-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .group-container {
        margin: 0;
        padding: 0;

        summary {
            font-size: 3rem;
            cursor: pointer;
            color: var(--accent-color);
            text-shadow: 1px 1px 2px #000000;
            padding-bottom: 1rem;
        }

        h3 {
            display: inline;
            margin: 0;
            width: 100%;
            font-family: LondrinaSolid-Light, sans-serif;
            font-weight: normal;
            font-size: 3rem;
            text-transform: capitalize;
            color: var(--accent-color);
        }
    }

    .option-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        grid-auto-rows: min-content;
        width: 100%;
        break-inside: avoid;
        backface-visibility: hidden;
        margin-bottom: 0.5rem;

        label {
            min-height: 32px;
            line-height: 28px;
            margin-right: 24px;

            .tooltip-container {
                position: absolute;
                z-index: 99999;
            }
        }

        .option-subcontainer {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .option-inputs {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            input, select {
                border: 1px solid var(--accent-color-muted);
                border-radius: 3px;
                background-color: white;
                height: 32px;
                padding: 3px 8px;
                font-size: 1rem;
                flex-grow: 1;
                min-width: 0;
                width: 0;
            }

            select {
                text-overflow: ellipsis;
            }

            input[disabled], select[disabled] {
                background-color: rgb(211, 211, 211);
            }

            input[type=number], input[type=text] {
                flex-grow: 2;
            }

            input[type=range] {
                flex-grow: 5;
                margin: 0;
                padding: 0;
                border: 0;
            }

            .randomize-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 32px;
                width: 32px;
                font-size: 14px;
                box-sizing: border-box;
                border: 1px solid var(--accent-color-muted);
                border-radius: 3px;
                background-color: #d3d3d3;
                user-select: none;

                &:hover {
                    background-color: #c0c0c0;
                    cursor: pointer;
                }

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 22px;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        cursor: pointer;
                    }
                }

                input[type=checkbox] {
                    display: none;
                }

                &:has(input[type=checkbox]:checked) {
                    background-color: #ffef00; /* Same as .interactive in globalStyles.css */

                    &:hover {
                        background-color: #eedd27;
                    }
                }

                &[data-tooltip]::after {
                    left: unset;
                    right: 0;
                }
            }
        }

        .option-list {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.25);
            border: 1px solid var(--accent-color-muted);
            border-radius: 3px;
            color: #ffffff;
            min-height: 10rem;
            height: 10rem;
            min-width: 14.5rem;
            overflow-y: auto;
            resize: vertical;

            .loading {
                padding: 1rem;
                font-size: 1rem;
                text-align: center;
                align-self: center;
            }

            .option-divider {
                width: 100%;
                height: 2px;
                background-color: var(--accent-color-muted);
                margin-top: 0.125rem;
                margin-bottom: 0.125rem;
            }

            .option-entry {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                user-select: none;
                padding: 0.125rem 0.25rem;

                &:hover {
                    background-color: var(--accent-color-muted);
                }

                input[type=checkbox] {
                    margin-right: 0.25rem;
                    height: 20px;
                }

                input[type=number] {
                    max-width: 2rem;
                    margin-left: 0.125rem;
                    text-align: center;

                    /* Hide arrows on input[type=number] fields */
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                label {
                    flex-grow: 1;
                    margin-left: 0.25rem;
                    min-height: 20px;
                }
            }
        }
    }

    #options-button-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
    }
}

// Medium
@media all and (min-width: 600px) {
    #player-options {
        #options-meta, .options {
            grid-gap: 0.5rem 1rem;
        }

        .option-container {
            grid-template-columns: 4fr minmax(200px, 5fr);
        }
    }
}

// Desktop
@media all and (min-width: 1024px) {
    #player-options {
        border-radius: 8px;
        font-size: 14px;

        #options-header {
            h1 {
                font-size: 3rem;
                line-height: 2.25rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            p, ul {
                font-size: 16px;
            }
        }

        #options-meta, .options {
            //grid-template-columns: 1fr 1fr;
            //grid-gap: 0.5rem 1.5rem;
            column-count: 2;
        }

        .group-container {
            summary, h3 {
                font-size: 2rem;
            }
        }

        .option-container {
            label {
                min-height: 24px;
                line-height: 20px;
            }

            .option-inputs {
                input, select {
                    height: 24px;
                    padding: 3px 4px;
                    font-size: 12px;
                }

                .randomize-button {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}

//#player-options {
//    box-sizing: border-box;
//    max-width: 1024px;
//    margin-left: auto;
//    margin-right: auto;
//    background-color: rgba(0, 0, 0, 0.15);
//    border-radius: 8px;
//    padding: 1rem;
//    color: #eeffeb;
//    word-break: break-word;
//
//    .game-options {
//        display: grid;
//        grid-template-columns: 1fr 1fr;
//        gap: 0.5rem 1rem;
//        margin-bottom: 1rem;
//    }
//
//    .option-group {
//        display: flex;
//        flex-direction: column;
//        gap: 0.5rem;
//    }
//
//    .option-subcontainer {
//        display: flex;
//        flex-direction: row;
//        break-inside: avoid;
//
//        & > *:not(:last-child) {
//            margin-right: 0.5rem;
//        }
//
//        select {
//            flex-grow: 1;
//            width: 0;
//
//            &:disabled {
//                background-color: lightgray;
//            }
//        }
//
//        input[type=number], input[type=text] {
//            flex-grow: 2;
//            width: 0;
//            min-width: 0;
//            box-sizing: border-box;
//        }
//
//        input[type=range] {
//            flex-grow: 5;
//            width: 0;
//            box-sizing: border-box;
//            margin-top: 0;
//            margin-bottom: 0;
//            padding-left: 0;
//            padding-right: 0;
//            border: 0;
//        }
//    }
//
//    .randomize-button {
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        height: 24px;
//        width: 28px;
//        font-size: 14px;
//        box-sizing: border-box;
//        border: 1px solid black;
//        border-radius: 3px;
//        background-color: #d3d3d3;
//        user-select: none;
//
//        &:hover {
//            background-color: #c0c0c0;
//            cursor: pointer;
//        }
//
//        label {
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            line-height: 22px;
//            width: 100%;
//            height: 100%;
//
//            &:hover {
//                cursor: pointer;
//            }
//        }
//
//        input[type=checkbox] {
//            display: none;
//        }
//
//        &:has(input[type=checkbox]:checked) {
//            background-color: #ffef00; /* Same as .interactive in globalStyles.css */
//
//            &:hover {
//                background-color: #eedd27;
//            }
//        }
//
//        &[data-tooltip]::after {
//            left: unset;
//            right: 0;
//        }
//    }
//
//    label {
//        display: block;
//        margin-right: 4px;
//        cursor: default;
//        word-break: break-word;
//    }
//}

//@media all and (max-width: 1024px) {
//    #player-options {
//        border-radius: 0;
//        padding: 2rem;
//
//        .game-options {
//            column-count: 1;
//
//            input, select {
//                height: 32px;
//            }
//        }
//
//        .option-list .option-entry label {
//            line-height: 34px;
//        }
//    }
//}
