{%- extends "pageWrapper.html" -%}

{%- block head -%}
    <title>{{ world_name }} Options</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles/options/player.css") }}">
{#    <script defer type="application/ecmascript" src="{{ url_for("static", filename="assets/options/player.js") }}"></script>#}
    <style>
        #test-block {
            box-sizing: border-box;
            width: 400px;
            height: 400px;
            border: 1px solid black;
            padding: 2px;
            overflow-x: clip;
            overflow-y: scroll;
        }
    </style>
{%- endblock -%}

{%- block body -%}
    {%- include header_theme -%}
    <div id="test-block">

    </div>

    <script>
        const options = {
            root: document.querySelector("#test-block"),
            rootMargin: "0px",
            threshold: 1.0,
        };

        const observer = new IntersectionObserver(callback, options);

        function callback(entries, observer) {
            console.log("Observer", observer);
            entries.forEach((entry) => {
                console.log("Entry", entry);
            })
        }

        fetch("local_items/0")
            .then((response) => response.text())
            .then((text) => console.log(text));
    </script>
{%- endblock -%}
